.banneres {
    width: 100%;
}

.slider {
    margin-top: 30px;
}

.informationAbout {
    margin-top: 50px;
    font-size: 20px !important;
    text-align: left;
    padding: 20px 20px;
    background-image: url(./images/background_dekstop.png);
    background-size: 100%;
    color: white;
}

.informationBtn {
    background-color: #EF5038;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.informationBtn:hover {
    background-color: #F9BC21;
    transform: scale(1.05);
}

.informationBtn:active {
    background-color: #009E44;
    transform: scale(0.95);
}

.informationBtn:focus {
    outline: 3px solid #043220;
}


@media (max-width: 768px) {
    .information {
        font-size: 18px;
    }

    .informationBtn {
        font-size: 12px;
    }
}